.home-main {
    background-color: brown;
    height: 1000px;
}

.top{
    font-family: cursive; font-size: 22px;
    padding: 60px 60px 0;
    background-color: brown;
}

.Name {
    font-size: 55px;
    text-align: center
}

img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.Bio {
    font-family: cursive;
    font-size: 35px;
}

.skills {
    font-family: cursive;
    font-size: 35px;
}

.body {
    font-family: fantasy;
    padding: 0 60px;
    font-size: 17px;
}